[user]
  signingkey = ~/.ssh/id_rsa
[credential]
  helper = osxkeychain
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
[gpg]
  program = /usr/local/bin/gpg
  format = ssh
[pager]
  branch = false
[alias]
  oops=git reset HEAD~
[init]
  defaultBranch = main